/*reseto basico*/
*{margin:0; padding:0; box-sizing:border-box}

        /*fondo de la pagina*/
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding:20px;
        
}
        
form {
    display: flex;
    flex-direction: column;
}

        /*contenedor principal*/
.container{
        max-width:600px;
        margin:0 auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

        /*titulos*/
h1{color: #13445f; margin-bottom:20px;}
h2{color: #555;margin-bottom:15px;}

        /*parrafos*/
p{color: #777; line-height: 1.6; margin-bottom:20px;}

        /*Campos del formulario*/
label{display:block; margin-bottom:5px; color: #333; font-weight:bold;}
        input, textarea{
        width: 100%;
        padding:10px;
        margin-bottom: 15px;
        border:1px solid #dddd;
        border-radius:4px;
        font-size:14px;
        }
textarea{min-height:100px; resize:vertical;}

        /*boton*/
button{
        width: 100%;
        padding:12px;
        background: #13445f;
        color: white;
        border:none;
        border-radius:5px;
        font-size:16px;
        cursor: pointer;
}
button:hover{background: #0f3445;}

        /*mensaje*/
.message{
        padding:10px;
        margin-bottom: 15px;
        border-radius:4px;
        display:none;
}
.success{background: #d4edda; color:#155724; border:1px solid #c3e6cb;}
.error{background: #f8d7da; color:#721c24; border:1px solid #f5c6cb;}